{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
<header class="header" id="header">
    <nav class="nav container">
        <div class="logo">

        </div>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href={% url 'main' %} class="nav__link active-link id="main">
                        <i class='bx bx-home-alt nav__icon'></i>
                        <span class="nav__name">Home</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href={% url 'register' %} class="nav__link active-link id="register">
                        <i class='bx bx-home-alt nav__icon'></i>
                        <span class="nav__name">Register</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href={% url 'profile' %} class="nav__link active-link id="profile">
                        <i class='bx bx-home-alt nav__icon'></i>
                        <span class="nav__name">Profile</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1>regqwazsxd vmbn</h1>
</body>
</html>